          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '45' %>" class="btn btn-primary btn-lg btn-block">                                    
                <h2 class="text-light"> POSTRES               ____postres_____45po </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '47' %>" class="btn btn-primary btn-lg btn-block">                                    
                <h2 class="text-light"> OTROS POSTRES         ____postres_____47po </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '49' %>" class="btn btn-primary btn-lg btn-block">                                    
                <h2 class="text-light"> CREMAS HELADAS        ____postres_____49po </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/plast/snippet/<%= '51' %>" class="btn btn-primary btn-lg btn-block">                                    
                <h2 class="text-light"> PANQUEQUE             ____postres_____51po </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
