    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POSTRE PLAZA ASTURIAS . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>VOLCAN DE CHOCOLATE . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN AL CARAMELO . . . .  $325</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA ASADA BORGONA . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN MIXTO . . . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSE DE CHOCOLATE . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>NATILLA . . . . . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN A LA REINA . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>PERAS AL BORGONA . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN C/DULCE O CREMA . .  $390</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">OTROS POSTRES       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA CREMA O DULCE . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO EN ALMIBAR . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>ZAPALLO EN ALMIBAR . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE DE MEMBRILLO . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE DE BATATA . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA FRUTA C/HELADO . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA QUEMADA AL RHUM .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA ALMIBAR . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CREMA O DULCE PORC . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DULCE LECHE . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">CREMAS HELADAS      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HELADO A LA CREMA . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $720</li>                          
                <li class="text-center"><span class="fa-li"></span>BOMBON SUIZO . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>ICE CREAM SODA . . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTTE . . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 1/2 . . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MELBA . . . . . . .  $640</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON CHAMP . . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>BOMBON ESCOCES . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT 2 PERS . . . $495</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO CHARLOTTE . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">PANQUEQUE           </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PANQ PLAZA .ASTURIAS . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ MANZANA . . . . . .  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ DULCE DE LECHE . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE AL RHUM . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>RECAARGO AL RHUM . . . .  $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">VARIOS              </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-info text-uppercase text-center">POSTRES VARIOS      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">Consultar   </h6>                                     
<li><span class="fa-li"><i class="fas fa-check"></i></span>promo postres               $0</li>                                  
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">VARIOS              </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-info text-uppercase text-center">POSTRES VARIOS      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">Consultar   </h6>                                     
<li><span class="fa-li"><i class="fas fa-check"></i></span>promo postres               $0</li>                                  
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
