    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PLATOS FRIOS        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO . . . . . . . $940</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C/ACEITUNAS .$1060</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS C/S.GOLF . . $1580</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO C/ANANA . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE AVE . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE ATUN . . . .  $690</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE CAMARONES . . $990</li>                          
                <li class="text-center"><span class="fa-li"></span>TOMATE RELL. C/AVE Y RUSA $490</li>                          
                <li class="text-center"><span class="fa-li"></span>TOMATE RELL.C/ATUN Y RUSA $600</li>                          
                <li class="text-center"><span class="fa-li"></span>COCKTAIL DE CAMARONES . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS C/S.GOLF . . . . $610</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">QUESOS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ROQUERFORT PORC . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CUARTIROLO PORC . . . . . $430</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS ESPECIALES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS CESAR . . . . . . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS .PLAZA ASTURIAS . . . $670</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS .ASTURIAS . . . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS .AV DE MAYO . . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS .PUERTO SOMIEDO . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS .PLAZA DE MAYO . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS .WALDORF . . . . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS .CONGRESO . . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS .CHAMPINON Y RUCULA . $660</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MARISCOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PULPO A LA GALLEGA . . . $4950</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE PULPO . . . . $4950</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE MARISCOS . . .$4380</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA 1/2 DE MARISCOS .$2800</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS AL AJILLO . .$1570</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS PROVENZAL . .$1570</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS C/ARROZ . . .$1570</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS C/S.GOLF . . $1590</li>                          
                <li class="text-center"><span class="fa-li"></span>VIEIRAS . . . . . . . . .$1360</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARETES SALTEADOS . .$1300</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARETES FRITOS . . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARETES A LA LYONESA $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>MEJILLONES A LA PROVENZAL$1040</li>                          
                <li class="text-center"><span class="fa-li"></span>MEJILLONES A LA MARINERA $1040</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE CALAMARES . . $1250</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . .$1410</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHUPIN MIXTO PESC Y MARIS$1640</li>                          
                <li class="text-center"><span class="fa-li"></span>ABADEJO AJO ARRIERO . . .$1390</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE MERLUZA . . . $1290</li>                          
                <li class="text-center"><span class="fa-li"></span>PARANA CAFE DE PARIS . . $1350</li>                          
                <li class="text-center"><span class="fa-li"></span>PARANA SAVOY . . . . . . $1350</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUCHA A LA ALMENDRA . . $1350</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET LENGUADO ROMANA . .$1170</li>                          
                <li class="text-center"><span class="fa-li"></span>PARANA ROMANA /PAPAS . .  $990</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA ROMANA C/FR $960</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA MILANESA .  $960</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS CON SALSAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LENGUADO CAFE DE PARIS . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO C/SAL . . .$1960</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE ABADEJO C/SALSA $1440</li>                          
                <li class="text-center"><span class="fa-li"></span>BROTOLA CON SALSA . . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>PARANA C/SALSA . . . . . $1310</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE LENGUADO C/SALSA$1310</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUCHA C/SALSA . . . . . $1310</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA C/SALSA . .$1060</li>                          
                <li class="text-center"><span class="fa-li"></span>REC SALSA CAFE DE PARIS . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO CAFE PARIS $1960</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUGERENCIAS         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ACEITUNAS RELLENAS . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>HONGOS ASADOS C/AJO . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>HONGOS AL OLEO . . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA A LA MILANESA  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE MUZZARELLA PAPAS$1090</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TIERNIZ C/FRITAS$1090</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE POLLO . . . . $1340</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO TERNERA VERDEO . .$1030</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO POLLO VERDEO . . . $980</li>                          
                <li class="text-center"><span class="fa-li"></span>MOLLEJAS SALTEADAS VERDEO$1810</li>                          
                <li class="text-center"><span class="fa-li"></span>RINONCITOS VERDEO . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITAS CERDO RIOJAN $1110</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITAS CERDO GRISETT $920</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITAS CERDO PURE MA $920</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARROCES             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAELLA INDIVIDUAL . . . .$1990</li>                          
                <li class="text-center"><span class="fa-li"></span>PAELLA VALENCIANA . . . .$3940</li>                          
                <li class="text-center"><span class="fa-li"></span>PAELLA 1/2 VALENCIANA . .$2660</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ ESP.PLAZA ASTURIAS $3180</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 ESP PZA ASTURIA$1980</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/MARISCOS . . . . $4390</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 C/MARISCOS . . $2210</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ NEGRO C/LANGOSTINOS$2210</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 NEGRO C/LANGOST$1270</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/POLLO VALENCIANA $1700</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 C/POLLO VALENCI$1070</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ AZAFRANADO C/HONGOS $870</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ A LA MILANESA . . . $790</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ A LA CUBANA . . . . $710</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/CALAMARES . . . .$1190</li>                          
                <li class="text-center"><span class="fa-li"></span>RINONCITOS C/ARROZ . . .  $790</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ BLANCO . . . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>FABADA 1/2 ASTURIANA . . $1100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO C/GUARNICI $730</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA RELLEN PAP ESPAN$1090</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA LOMO S/GUAR . . $1070</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA LOMO NAPOLITANA $1270</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO S/GUAR . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO NAPOLITANA $940</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO SUIZA . .  $940</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA S/GUA $750</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA NAPOLITA$1010</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA SUIZA . $1010</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA C/FRITAS $870</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">COCINA ESPECIAL     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ESCALOPE LOMO MARSALA . .$1110</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE LOMO PARISSIENNE$1110</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE LOMO VIENESA . .$1110</li>                          
                <li class="text-center"><span class="fa-li"></span>CACHOPO ASTURIANO . . . .$1160</li>                          
                <li class="text-center"><span class="fa-li"></span>PALLAR LOMO PLAZA . . . .$1170</li>                          
                <li class="text-center"><span class="fa-li"></span>PALLAR LOMO C/CEBOLLAS . $1070</li>                          
                <li class="text-center"><span class="fa-li"></span>PECETO HORNO C/BATATAS . $1230</li>                          
                <li class="text-center"><span class="fa-li"></span>PECETO SUIZA PAPAS CREMA $1500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUPREMAS ESPECIALES </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SUPREMA ESP PLAZA . . . .$1350</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PLAZA . . . . . .$1070</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . . $1070</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREM GRISET/ NAPOL/ SUI$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PARISSIENNE . . .$1070</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA GUADALUPE . . . .$1070</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NORMANDIA . . . .$1070</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PAULISTA . . . . $1070</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA ALCAZAR . . . . .$1070</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA GRAN DUCK . . . .$1070</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA POLA NEGRI . . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA ALEXANDA . . . . $1070</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA JOCKEY CLUB . . .$1070</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ESPECIALIDAD EN POLL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 PROVENZAL . . . $840</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 PORTUGUESA . .  $840</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 AJILLO . . . .  $840</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">DESHUESADOS P/2 PERS</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESUES CHAMPINO$1450</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESHUS WHISKY .$1450</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESHUS BOURGUIG$1315</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESHUS RELL ANA$1315</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTROS CARRES     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CARRE CIRUELA C/MANZANA .$1080</li>                          
                <li class="text-center"><span class="fa-li"></span>CARRE CERVEZA . . . . . .$1080</li>                          
                <li class="text-center"><span class="fa-li"></span>CARRE ANCIANA . . . . . .$1080</li>                          
                <li class="text-center"><span class="fa-li"></span>CARRE MOSTAZA . . . . . .$1080</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">LOMOS ESPECIALES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOMO MONACO . . . . . . .$2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO ORIENTAL . . . . . .$2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO VICTORIA . . . . . .$2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CORDON BLUE . . . . $2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO PRINCIPE HUMBERTO . $2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO AL CHAMPINON . . . .$2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO PIMIENTA . . . . . .$2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO EDUARDO VII . . . . $2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO STROGONOFF . . . . .$2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO PALACE GLACE . . . .$2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO TABARIS . . . . . . $2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CASTELAR . . . . . .$2120</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO ROSSINI . . . . . . $2120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTES Y TORTILLA</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON Y QUESO .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE PUNTA ESPARRAGOS $710</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA CASTELLANA CHORI $810</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILA PAPA Y CEBOLLA .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ACELGA . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVOS FRITOS (2) . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS O ESPANOLAS  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJILLA, NOISETTE . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS BASTON/ RUSTICA . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS C/ CEBOLLAS SALTEDA $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">VERDURAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAPAS AL NATURAL . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS A LA CREMA . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPAS . . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE DE MANZANA . . . . . $350</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU LIGHT          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SUPREMA GRILLE CABALAZA . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA GRILLE ENS  $870</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS LECHUGA . . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS MIXTA . . . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS APIO . . . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS ZANAHORIA . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS TOMATE . . . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS COMPLETA . . . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS RUCULA . . . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS NATURAL . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS TODO VERDE . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CHAMPINON . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO HUEVO . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO RUCULA . . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRAS PASTAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FUSSILIS PRINCIPE DI NAPO $730</li>                          
                <li class="text-center"><span class="fa-li"></span>FUSSILIS NAPOLITANA . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS .SCROFFA  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES GRAN CARUSO . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS PARISSIEN $730</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS PARMESANA $730</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS FILETO .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS BOLOGNESA $720</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS ESTOFADO  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES CUATRO QUESOS .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GOULASH HUNGARA NOQUIS .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO HUNGARA NOQUIS . .  $870</li>                          
                <li class="text-center"><span class="fa-li"></span>PUNTA LOMO HUNGARA NOQUIS $940</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS PESTO . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS FRUTOS MAR . $990</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLSI FILETO . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS BOLOGNESA .  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS GRATEN HONGO $720</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/2 BIFE DE CHORI 3 PIMIE$1230</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO . . . . . . $1610</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE 1/2 CHORIZO C/GUAR .$1360</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE LOMO . . . . . . . .$1700</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO TIRA C/GUAR . . . .$1350</li>                          
                <li class="text-center"><span class="fa-li"></span>RINONCITOS TERNERA . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>MOLLEJAS . . . . . . . . $1810</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIZO . . . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MORCILLA . . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITAS CERDO C/GUAR  $880</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESHUES GRILLE  $990</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 C/FRITAS . . .  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA GRILLE C/GUARN .  $860</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS GRILLE     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PARANA . . . . . . . . . $1310</li>                          
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO . . . . . .$1900</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUCHA . . . . . . . . . $1310</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET LENGUADO . . . . . $1310</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET ABADEJO . . . . . .$1440</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA . . . . . .$1060</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
