    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND JAMON COCIDO . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND COCIDO QUESO . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND JAMON CRUDO . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO QUESO . . . .  $290</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MARISCOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS PROVENZAL . .$1120</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS C/ARROZ . . .$1120</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARETES FRITOS . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MEJILLONES A LA PROVENZAL $710</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE CALAMARES . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . . $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET LENGUADO ROMANA . . $890</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA ROMANA C/FR $650</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA MILANESA .  $630</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS CON SALSAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO C/SAL . . .$1190</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA C/SALSA . . $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUGERENCIAS         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE POLLO . . . .  $790</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARROCES             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAELLA INDIVIDUAL . . . .$1480</li>                          
                <li class="text-center"><span class="fa-li"></span>PAELLA VALENCIANA . . . .$2930</li>                          
                <li class="text-center"><span class="fa-li"></span>PAELLA 1/2 VALENCIANA . .$2080</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/MARISCOS . . . . $2480</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 C/MARISCOS . . $1495</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/POLLO VALENCIANA $1095</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 C/POLLO VALENCI $735</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/CALAMARES . . . . $780</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO C/GUARNICI $580</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA S/GUAR . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO S/GUAR . . $455</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO NAPOLITANA $710</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA S/GUA $475</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA NAPOLITA $720</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA C/FRITAS $580</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUPREMAS ESPECIALES </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SUPREMA PLAZA . . . . . . $790</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTES Y TORTILLA</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON Y QUESO .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA CASTELLANA CHORI $550</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILA PAPA Y CEBOLLA .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS O ESPANOLAS  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA IND PE Y CEBO .  $315</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS LECHUGA . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS MIXTA . . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS ZANAHORIA . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS TOMATE . . . . . . .  $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRAS PASTAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS FILETO .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS BOLOGNESA $540</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS ESTOFADO  $540</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES CUATRO QUESOS .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLSI FILETO . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS BOLOGNESA .  $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLADA          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/2 BIFE DE CHORI 3 PIMIE $850</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE 1/2 CHORIZO C/GUAR . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 C/FRITAS . . .  $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS GRILLE     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO . . . . . .$1150</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA . . . . . . $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PLATOS DEL DIA      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO CAFE PARIS $1185</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
