    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND JAMON COCIDO . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND COCIDO QUESO . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND JAMON CRUDO . . . .  $285</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO QUESO . . . .  $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MARISCOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS PROVENZAL . .$1345</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS C/ARROZ . . .$1345</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARETES FRITOS . . . $1020</li>                          
                <li class="text-center"><span class="fa-li"></span>MEJILLONES A LA PROVENZAL $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE CALAMARES . . $1020</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . .$1020</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET LENGUADO ROMANA . .$1130</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA ROMANA C/FR $755</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA MILANESA .  $755</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS CON SALSAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO C/SAL . . .$1430</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA C/SALSA . . $900</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUGERENCIAS         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE POLLO . . . .  $870</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARROCES             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAELLA VALENCIANA . . . .$3490</li>                          
                <li class="text-center"><span class="fa-li"></span>PAELLA 1/2 VALENCIANA . .$2375</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/MARISCOS . . . . $2860</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 C/MARISCOS . . $1960</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/POLLO VALENCIANA $1315</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 C/POLLO VALENCI $880</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/CALAMARES . . . . $860</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO C/GUARNICI $580</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA S/GUAR . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO S/GUAR . . $595</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO NAPOLITANA $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA NAPOLITA $865</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA C/FRITAS $695</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUPREMAS ESPECIALES </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SUPREMA PLAZA . . . . . . $950</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">LOMOS ESPECIALES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOMO MONACO . . . . . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO ORIENTAL . . . . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO VICTORIA . . . . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CORDON BLUE . . . . $1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO PRINCIPE HUMBERTO . $1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO AL CHAMPINON . . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO PIMIENTA . . . . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO EDUARDO VII . . . . $1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO FILET GRISETTE . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO STROGONOFF . . . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO PALACE GLACE . . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO TABARIS . . . . . . $1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO HONGRUS . . . . . . $1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO ESTRAGON . . . . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO SEVILLANA . . . . . $1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CASTELAR . . . . . .$1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO ROSSINI . . . . . . $1460</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTES Y TORTILLA</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON Y QUESO .  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $590</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA CASTELLANA CHORI $590</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILA PAPA Y CEBOLLA .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $605</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS O ESPANOLAS  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA IND PE Y CEBO .  $315</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS LECHUGA . . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS MIXTA . . . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS ZANAHORIA . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS TOMATE . . . . . . .  $275</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRAS PASTAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS FILETO .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS BOLOGNESA $595</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS ESTOFADO  $595</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES CUATRO QUESOS .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLSI FILETO . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS BOLOGNESA .  $460</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLADA          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/2 BIFE DE CHORI 3 PIMIE $850</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE 1/2 CHORIZO C/GUAR . $960</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 C/FRITAS . . .  $670</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS GRILLE     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO . . . . . .$1380</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA . . . . . . $720</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
