    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PLATOS FRIOS        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO . . . . . . . $765</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C/ACEITUNAS . $875</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS C/S.GOLF . . $1220</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE AVE . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE ATUN . . . .  $625</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE CAMARONES . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>TOMATE RELL. C/AVE Y RUSA $440</li>                          
                <li class="text-center"><span class="fa-li"></span>TOMATE RELL.C/ATUN Y RUSA $545</li>                          
                <li class="text-center"><span class="fa-li"></span>COCKTAIL DE CAMARONES . . $820</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS C/S.GOLF . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>CORANZON ALCAHUCILES . .  $365</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                 
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">QUESOS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SARDO PORC . . . . . . .  $425</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUERFORT PORC . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CUARTIROLO PORC . . . . . $375</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND JAMON COCIDO . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND COCIDO QUESO . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND JAMON CRUDO . . . .  $285</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO QUESO . . . .  $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS ESPECIALES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS CESAR . . . . . . . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS. PLAZA ASTURIAS . . . $505</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS. ASTURIAS . . . . . . $505</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS. AV DE MAYO . . . . . $545</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS. PUERTO SOMIEDO . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS. PLAZA DE MAYO . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS. WALDORF . . . . . .  $525</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS. CONGRESO . . . . . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS. CHAMPINON Y RUCULA . $535</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MARISCOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PULPO A LA GALLEGA . . . $4500</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE PULPO . . . . $4500</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE MARISCOS . . .$3990</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA 1/2 DE MARISCOS .$2550</li>                          
                <li class="text-center"><span class="fa-li"></span>LANG0STINOS AL AJILLO . .$1340</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS PROVENZAL . .$1340</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS C/ARROZ . . .$1340</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINOS C/S.GOLF . . $1445</li>                          
                <li class="text-center"><span class="fa-li"></span>VIEIRAS . . . . . . . . .$1360</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARETES SALTEADOS . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARETES FRITOS . . . $1080</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARETES A LA LYONESA $1050</li>                          
                <li class="text-center"><span class="fa-li"></span>MEJILLONES A LA PROVENZAL $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MEJILLONES A LA MARINERA  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE CALAMARES . . $1050</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . .$1080</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHUPIN MIXTO PESC Y MARIS$1310</li>                          
                <li class="text-center"><span class="fa-li"></span>ABADEJO AJO ARRIERO . . .$1195</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE MERLUZA . . . $1090</li>                          
                <li class="text-center"><span class="fa-li"></span>MERLUZA TROZADA S.VERDE .$1090</li>                          
                <li class="text-center"><span class="fa-li"></span>MERLUZA TROZOS GALLEGA . $1090</li>                          
                <li class="text-center"><span class="fa-li"></span>PARANA CAFE DE PARIS . . $1230</li>                          
                <li class="text-center"><span class="fa-li"></span>PARANA SAVOY . . . . . . $1230</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUCHA A LA ALMENDRA . . $1230</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET LENGUADO ROMANA . .$1065</li>                          
                <li class="text-center"><span class="fa-li"></span>PARANA ROMANA /PAPAS . .  $830</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA ROMANA C/FR $870</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA MILANESA .  $870</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS CON SALSAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET DE ABADEJO CON GUAR$1315</li>                          
                <li class="text-center"><span class="fa-li"></span>LENGUADO CAFE DE PARIS . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO C/SAL . . .$1790</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE ABADEJO C/SALSA $1315</li>                          
                <li class="text-center"><span class="fa-li"></span>BROTOLA CON SALSA . . . .$1080</li>                          
                <li class="text-center"><span class="fa-li"></span>PARANA C/SALSA . . . . . $1195</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE LENGUADO C/SALSA$1195</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUCHA C/SALSA . . . . . $1195</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA C/SALSA . . $965</li>                          
                <li class="text-center"><span class="fa-li"></span>REC SALSA CAFE DE PARIS . $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUGERENCIAS         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ACEITUNAS RELLENAS . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>HONGOS ASADOS C/AJO . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>HONGOS AL OLEO . . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>MORRONES ASADOS C/AJO . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA A LA MILANESA  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE MOZZARELLA PAPAS $915</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TIERNIZ C/FRITAS $915</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE POLLO . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO TERNERA VERDEO . . $935</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO POLLO VERDEO . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>MOLLEJAS SALTEADAS VERDEO$1645</li>                          
                <li class="text-center"><span class="fa-li"></span>RINONCITOS VERDEO . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITAS CERDO RIOJAN  $920</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITAS CERDO GRISETT $800</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITAS CERDO PURE MA $800</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARROCES             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAELLA INDIVIDUAL . . . .$1750</li>                          
                <li class="text-center"><span class="fa-li"></span>PAELLA VALENCIANA . . . .$3590</li>                          
                <li class="text-center"><span class="fa-li"></span>PAELLA 1/2 VALENCIANA . .$2425</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ ESP.PLAZA ASTURIAS $2890</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 ESP PZA ASTURIA$1800</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/MARISCOS . . . . $3990</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 C/MARISCOS . . $2010</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ NEGRO C/LANGOSTINOS$1950</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 NEGRO C/LANGOST$1170</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/POLLO VALENCIANA $1415</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ 1/2 C/POLLO VALENCI $880</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ AZAFRANADO C/HONGOS $720</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ A LA MILANESA . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ A LA CUBANA . . . . $590</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/CALAMARES . . . . $890</li>                          
                <li class="text-center"><span class="fa-li"></span>RINONCITOS C/ARROZ . . .  $625</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ BLANCO . . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>FABADA 1/2 ASTURIANA . . $1100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO C/GUARNICI $620</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA S/GUAR . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA RELLEN PAP ESPAN $990</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA LOMO S/GUAR . .  $970</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA LOMO NAPOLITANA $1150</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO S/GUAR . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO NAPOLITANA $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA POLLO SUIZA . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA S/GUA $685</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA NAPOLITA $920</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA SUIZA .  $920</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA C/FRITAS $790</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">COCINA ESPECIAL     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHIKEN PIE . . . . . . . $1380</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE LOMO MARSALA . .$1010</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE LOMO PARISSIENNE$1010</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE LOMO VIENESA . .$1010</li>                          
                <li class="text-center"><span class="fa-li"></span>CACHOPO ASTURIANO . . . .$1055</li>                          
                <li class="text-center"><span class="fa-li"></span>PALLAR LOMO PLAZA . . . .$1060</li>                          
                <li class="text-center"><span class="fa-li"></span>PALLAR LOMO C/CEBOLLAS .  $975</li>                          
                <li class="text-center"><span class="fa-li"></span>PECETO HORNO C/BATATAS . $1120</li>                          
                <li class="text-center"><span class="fa-li"></span>PECETO SUIZA PAPAS CREMA $1365</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUPREMAS ESPECIALES </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SUPREMA ESP PLAZA . . . .$1230</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PLAZA . . . . . . $970</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . .  $970</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREM GRISET/ NAPOL/ SUI $950</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PARISSIENNE . . . $970</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA GUADALUPE . . . . $970</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NORMANDIA . . . . $970</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PAULISTA . . . .  $970</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA ALCAZAR . . . . . $970</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA GRAN DUCK . . . . $970</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA POLA NEGRI . . . $1090</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA ALEXANDA . . . .  $970</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA JOCKEY CLUB . . . $970</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ESPECIALIDAD EN POLL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 PROVENZAL . . . $765</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 PORTUGUESA . .  $765</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 AJILLO . . . .  $765</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO AL CHAMPINGNON  $765</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">DESHUESADOS P/2 PERS</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESUES CHAMPINO$1315</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESHUS WHISKY .$1315</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESHUS BOURGUIG$1315</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESHUS RELL ANA$1315</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTROS CARRES     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CARRE CIRUELA C/MANZANA . $980</li>                          
                <li class="text-center"><span class="fa-li"></span>CARRE CERVEZA . . . . . . $980</li>                          
                <li class="text-center"><span class="fa-li"></span>CARRE ANCIANA . . . . . . $980</li>                          
                <li class="text-center"><span class="fa-li"></span>CARRE MOSTAZA . . . . . . $980</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">LOMOS ESPECIALES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOMO MONACO . . . . . . .$1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO ORIENTAL . . . . . .$1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO VICTORIA . . . . . .$1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CORDON BLUE . . . . $1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO PRINCIPE HUMBERTO . $1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO AL CHAMPINON . . . .$1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO PIMIENTA . . . . . .$1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO EDUARDO VII . . . . $1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO STROGONOFF . . . . .$1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO PALACE GLACE . . . .$1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO TABARIS . . . . . . $1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CASTELAR . . . . . .$1925</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO ROSSINI . . . . . . $1925</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTES Y TORTILLA</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON Y QUESO .  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE PUNTA ESPARRAGOS $650</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA CASTELLANA CHORI $670</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILA PAPA Y CEBOLLA .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ACELGA . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $605</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVOS FRITOS (2) . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS O ESPANOLAS  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJILLA, NOISETTE . $305</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS BASTON/ RUSTICA . . $305</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS C/ CEBOLLAS SALTEDA $380</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">VERDURAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ACELGA SALTEADA . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS AL NATURAL . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>ACELGAS A LA CREMA . . .  $375</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS A LA CREMA . . . .  $375</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPAS . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE DE MANZANA . . . . . $265</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU LIGHT          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA LIGHT .  $715</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA GRILLE CABALAZA . $615</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA GRILLE ENS  $790</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS LECHUGA . . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS MIXTA . . . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS APIO . . . . . . . .  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS ZANAHORIA . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS TOMATE . . . . . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS COMPLETA . . . . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS RUCULA . . . . . . .  $325</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS NATURAL . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS TODO VERDE . . . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CHAMPINON . . . . . . $385</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO HUEVO . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO RUCULA . . . . .   $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRAS PASTAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FUSSILIS PRINCIPE DI NAPO $585</li>                          
                <li class="text-center"><span class="fa-li"></span>FUSSILIS NAPOLITANA . . . $585</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS .SCROFFA  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES GRAN CARUSO . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS PARISSIEN $620</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS PARMESANA $600</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS FILETO .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS BOLOGNESA $595</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES/NOQUIS ESTOFADO  $595</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES CUATRO QUESOS .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GOULASH HUNGARA NOQUIS .  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO HUNGARA NOQUIS . .  $715</li>                          
                <li class="text-center"><span class="fa-li"></span>PUNTA LOMO HUNGARA NOQUIS $770</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS PESTO . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS FRUTOS MAR . $810</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLSI FILETO . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS BOLOGNESA .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELLIS GRATEN HONGO $595</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/2 BIFE DE CHORI 3 PIMIE$1230</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO . . . . . . $1460</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE 1/2 CHORIZO C/GUAR .$1230</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE LOMO . . . . . . . .$1540</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO TIRA C/GUAR . . . .$1225</li>                          
                <li class="text-center"><span class="fa-li"></span>RINONCITOS TERNERA . . .  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>MOLLEJAS . . . . . . . . $1645</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIZO . . . . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>MORCILLA . . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITAS CERDO C/GUAR  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/2 DESHUES GRILLE  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO 1/4 C/FRITAS . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA GRILLE C/GUARN .  $680</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS GRILLE     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PARANA . . . . . . . . .  $990</li>                          
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO . . . . . .$1730</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUCHA . . . . . . . . . $1010</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET LENGUADO . . . . . $1010</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET ABADEJO . . . . . .$1010</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA . . . . . .$1010</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PLATOS DEL DIA      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DV CATENA MALB-CABERNE . $1970</li>                          
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO CAFE PARIS $1690</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
