    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS S/ALCOHOL   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA . . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO DE NARANJA . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE IRLANDES . . . . . . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BODEGAS QUILMES     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BLASFEMIA LATA . . . . .  $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CERVEZA QUILMES 1L . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES CRISTAL 650CC . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES BOCK/STOUT 1L . . $325</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 1L . . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740CC . . . . . $425</li>                          
                <li class="text-center"><span class="fa-li"></span>CERVEZA QUILMES 1L . . .  $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">TRAGOS              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET . . . . . . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN . . . . . . . . . . . $215</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA . . . . . . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>MARTINI . . . . . . . . . $215</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKYS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BLANDERS PRIDE . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WLAKER NEGRA . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>J B RARE . . . . . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . . $1300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">COGNAC Y LICORES    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SOBERANO . . . . . . . .  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIS 8 HEMANOS . . . . .  $205</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . . $205</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $385</li>                          
                <li class="text-center"><span class="fa-li"></span>GRAN DUQUE ALBA . . . . .$1675</li>                          
                <li class="text-center"><span class="fa-li"></span>LEPANTO . . . . . . . . .$1675</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO EXTRA BRUT . . . .  $685</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLEON . . . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO BRUT NATURE . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA BOLS . . . . . .  $205</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AL COGNAC . . . . .  $205</li>                          
                <li class="text-center"><span class="fa-li"></span>BAILEYS . . . . . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CARLOS I . . . . . . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>TERRY CENTENARIO . . . .  $305</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNES Y SIDRAS </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA ES EX BRUT $740</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON EXTRA BRUT . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA EX BRUT . $1050</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE DE LA CASA . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>BARON B . . . . . . . . .$2300</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA . . . . . . .$1890</li>                          
                <li class="text-center"><span class="fa-li"></span>NAVARRO CORREA EX BRUT .  $980</li>                          
                <li class="text-center"><span class="fa-li"></span>DEL FIN DEL MUNDO EX BRUT $895</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS EXTRA BRUT . . . .$1020</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $380</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.FIN DEL MUNDO     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SPECIAL BLEND . . . . . .$2820</li>                          
                <li class="text-center"><span class="fa-li"></span>FIN MERLOT . . . . . . . $1345</li>                          
                <li class="text-center"><span class="fa-li"></span>FIN CABERNET SAUVIGNON . $1345</li>                          
                <li class="text-center"><span class="fa-li"></span>GRAN RESERVA DEL FIN . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA DEL FIN MALBEC .  $745</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA FIN MERLOT . . .  $745</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA FIN CHARDONNAY .  $745</li>                          
                <li class="text-center"><span class="fa-li"></span>NEWEN MALBEC . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>NEWEN CABERNET SAUVIGNON  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>NEWEN MERLOT . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>NEWEN SAUVIGNON BLANC . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTALES MALBEC . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS RESERVA MAL . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>PAZ MALBEC . . . . . . .  $780</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.NIETO SENETINER   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DON NICANOR MALBEC . . .  $995</li>                          
                <li class="text-center"><span class="fa-li"></span>DON NICANOR CABERNET SAUV $995</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER MALB 375  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER MALB 750  $685</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER CABERNET  $685</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER SYRAH . . $685</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER CHARDONNA $685</li>                          
                <li class="text-center"><span class="fa-li"></span>EMILIA NIETO MALBEC . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>EMILIA NIETO MALBEC BONAR $520</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO MALBEC 350 $260</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO MALBEC 750 $400</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO CABERNET S $400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.LUIGI BOSCA       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA MALBEC . . . $1710</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA SYRAH . . . .$1710</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA CABERNET . . $1710</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA CHARDONNAY . $1710</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA MALBEC . . $990</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA SYRAH . .  $990</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA CABERNET . $990</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA CHARDONNAY $990</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA CHAMPAGN BRUT$1520</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.NORTON            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON RESERVA MALBEC . . $925</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON RESERVA CABERNET S $925</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON MALBEC DOC . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE MALBEC 375 . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE CABERNET 375 $580</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE MERLOT . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON MALBEC-MERLOT . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CABEN-SAUV-SYRAH . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV MA 375  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV CA 375  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV BONAR . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV TEMPRAN $400</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE MALBEC 750 . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE CABERNET 750 $580</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV MA 750  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV CA 750  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO 375 TTO .  $225</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO 750 TTO .  $365</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BLANCOS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE CHARDONNAY . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE SUV BLANC .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CHARONNAY-SEMILLON $400</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO BCO 375 .  $225</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA TAR BCO .  $515</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO BCO 750 .  $365</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">ROSADOS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE SYRAH . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON MIL ROSAS . . . .  $520</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.LA RURAL          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SERVICIO DE MESA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PAELLA INDIVIDUAL . . . .$1480</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA S/GUA $475</li>                          
                <li class="text-center"><span class="fa-li"></span>ANDES LITRO . . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>UXMAL 750 . . . . . . . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>UXMAL 375 . . . . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>VENDIMARIO . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ESMERALDA MALBEC . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON PORTEÑO MALBEC . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON PORTEÑO SAV . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>RUTINI MALBEC . . . . . .$2800</li>                          
                <li class="text-center"><span class="fa-li"></span>RUTINI CHARDONNAY . . . .$1950</li>                          
                <li class="text-center"><span class="fa-li"></span>RUTINI CABERNET-MALBEC . $1680</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER MALBEC CAB 375  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER MALBEC SYRAH .  $980</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER CHARDONNAY . .  $980</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROB MALBEC 375 $330</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE MERLOT . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE CABER SA $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE SANGIOVE $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE SYRAH .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE TEMPRANI $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE CHARDONN $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE TARDIO . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE ROSE M . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE TINTO 375 . .  $295</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE BCO 375 . . .  $295</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE 12 UVAS . . .  $455</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER MALBEC CAB 750  $980</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE RO MALBEC 750  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE TINTO 750 . .  $455</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE BCO 750 . . .  $455</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCORIHUELA MALBEC/CABER  $940</li>                          
                <li class="text-center"><span class="fa-li"></span>FAMILIA MALBEC . . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>FAMILIA DULCE . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCORIHUELA ROBLE . . . . $655</li>                          
                <li class="text-center"><span class="fa-li"></span>NOCHE BUENA RESERVA . . .$2200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.NAVARRO CORREAS   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NAVARRO CORREA MALBEC . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>NAVARRO CORREA CHARDONNAY $700</li>                          
                <li class="text-center"><span class="fa-li"></span>LOS ARBOLES TINTO . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>LOS ARBOLES BLANCO . . .  $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.BIANCHI           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FOND DE CAVE . . . . . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMAMORA RESERVA . . . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>DON VALENTIN LACRADO . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI BORGONA . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI CHABLIS . . . . . $520</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BODEGAS TRAPICHE    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TRAPICHE RESERVA 375 . .  $375</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE ALARIS MALB 375  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE RESERVA MAL / CA $820</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE ALARIS MALB 750  $460</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.CHANDON           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 MALBEC .CABERN $720</li>                          
                <li class="text-center"><span class="fa-li"></span>CASTEL CHANDON . . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT 375 . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT 750 . . . . . . . $530</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">OTRAS BODEGAS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PANQ.PLAZA ASTURIAS . . . $710</li>                          
                <li class="text-center"><span class="fa-li"></span>ETCHART PRIVADO . . . . . $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.EL ESTECO         </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DONDAVID MALBEC 375 . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID CABERNET . . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID TORR 375 . . .  $415</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS MALBEC 375 . .  $235</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TANNAT . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS ROSE MALBEC . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TORRONTES 375 . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID MALBEC 750 . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID TORR 750 . . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS MALBEC 750 . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TORRONTES 750 . $390</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.LOPEZ             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 375 . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO BCO 375 . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO ROSADO . .  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TINTO 375 . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ BLANCO 375 . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 750 . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO BCO 750 . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TINTO 750 . . . . . $395</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ BLANCO 750 . . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS MALBEC 750 . . . . $680</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.FINCA LAS MORAS   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ALMA MORA MALBEC . . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CHARDONNAY . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LAS MORAS MALBEC .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LAS MORAS CABERNET  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LAS MORAS SAU BLANC $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.TERRAZAS LOS ANDES</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TERRAZAS RESERVA MALBEC .$1360</li>                          
                <li class="text-center"><span class="fa-li"></span>TERRAZAS RESERVA CABERNET$1360</li>                          
                <li class="text-center"><span class="fa-li"></span>ALTOS PLATA MALBEC . . .  $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.CATENA ZAPATA     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN MALBEC . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS MALBEC 375 . . . . $415</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS CHARDONNAY 375 . . $415</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS CABERNET SAUV . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS PINOT NOIR . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS SAUV BLANC . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS SYRAH . . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASSIA MALBEC BLEND . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASSIA CABERNET BLEND . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASSIA BLANC DE BLANCS  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS CHARDONNAY 750 . . $680</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.SAN TELMO         </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAN TELMO MALBEC . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO CABERNET SAUV . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO SYRAH . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO MALBEC-SYRAH .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO CHARDONNAY . .  $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
