    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS S/ALCOHOL   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>AGUAS . . . . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA . . . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO DE NARANJA . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADA . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LIMON EXPRIMIDO . . . . .  $65</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOPP PROMOCION . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CERVEZA QUILMES 1L . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP QUILMES . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO QUILMES . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>BALON QUILMES . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER BALON QUILMES . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES CRISTAL 650CC . . $315</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES BOCK/STOUT 1L . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 1L . . . .  $475</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740CC . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CERVEZA QUILMES 1L . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>ANDES LITRO . . . . . . . $460</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">TRAGOS              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET . . . . . . . . .  $235</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN . . . . . . . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA . . . . . . . . .  $235</li>                          
                <li class="text-center"><span class="fa-li"></span>MARTINI . . . . . . . . . $235</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKYS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BLANDERS PRIDE . . . . .  $375</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $375</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WLAKER NEGRA . . $1430</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $375</li>                          
                <li class="text-center"><span class="fa-li"></span>J B RARE . . . . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . . $1430</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">COGNAC Y LICORES    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SOBERANO . . . . . . . .  $670</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIS 8 HEMANOS . . . . .  $225</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . . $225</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $425</li>                          
                <li class="text-center"><span class="fa-li"></span>GRAN DUQUE ALBA . . . . .$1520</li>                          
                <li class="text-center"><span class="fa-li"></span>LEPANTO . . . . . . . . .$1840</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLEON . . . . . . . .  $825</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $365</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA BOLS . . . . . .  $225</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AL COGNAC . . . . .  $225</li>                          
                <li class="text-center"><span class="fa-li"></span>BAILEYS . . . . . . . . . $585</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMONCHELLO COPA . . . .  $225</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNES Y SIDRAS </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NIETO EXTRA BRUT . . . . $1080</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA ES EX BRUT $915</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON EXTRA BRUT . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . . $1630</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA EX BRUT . $1255</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE DE LA CASA . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA CHAMPAGNE . . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>BARON B . . . . . . . . .$2300</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA . . . . . . .$2080</li>                          
                <li class="text-center"><span class="fa-li"></span>NAVARRO CORREA EX BRUT . $1080</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS EXTRA BRUT . . . .$1220</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA CHAMPAGN BRUT$2280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.FIN DEL MUNDO     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SPECIAL BLEND . . . . . .$3850</li>                          
                <li class="text-center"><span class="fa-li"></span>FIN MERLOT . . . . . . . $1630</li>                          
                <li class="text-center"><span class="fa-li"></span>FIN CABERNET SAUVIGNON . $1630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRAN RESERVA DEL FIN . . $1150</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA DEL FIN MALBEC . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA FIN MERLOT . . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA FIN CHARDONNAY . $1200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.NIETO SENETINER   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DON NICANOR MALBEC . . . $1315</li>                          
                <li class="text-center"><span class="fa-li"></span>DON NICANOR CABERNET SAUV$1315</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER MALB 375  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER MALB 750 $1050</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER CABERNET $1050</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER SYRAH . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER CHARDONNA$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>EMILIA NIETO MALBEC . . . $760</li>                          
                <li class="text-center"><span class="fa-li"></span>EMILIA NIETO MALBEC BONAR $760</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO MALBEC 350 $435</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO MALBEC 750 $580</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO CABERNET S $580</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.LUIGI BOSCA       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA MALBEC . . . $2070</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA SYRAH . . . .$2070</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA CABERNET . . $2070</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA CHARDONNAY . $2070</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA MALBEC . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA SYRAH . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA CABERNET .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA CHARDONNAY$1200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.NORTON            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON RESERVA MALBEC . .$1080</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON RESERVA CABERNET S$1080</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON MALBEC DOC . . . . $915</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE MALBEC 375 . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE CABERNET 375 $440</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE MERLOT . . . $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE SYRAH . . .  $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON MALBEC-MERLOT . .  $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CABEN-SAUV-SYRAH . $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV MA 375  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV CA 375  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV BONAR . $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV TEMPRAN $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE MALBEC 750 . $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE CABERNET 750 $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV MA 750  $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV CA 750  $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO 375 TTO .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO 750 TTO .  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE CHARDONNAY . $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON PORTEÑO MALBEC . . $495</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BLANCOS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE SUV BLANC .  $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CHARONNAY-SEMILLON $715</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO BCO 375 .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA TAR BCO .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO BCO 750 .  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON PORTEÑO SAV . . .  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>PORTENO CHARDONNAY . . .  $495</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">ROSADOS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON MIL ROSAS . . . .  $620</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.LA RURAL          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RUTINI MALBEC . . . . . .$3390</li>                          
                <li class="text-center"><span class="fa-li"></span>RUTINI CHARDONNAY . . . .$2360</li>                          
                <li class="text-center"><span class="fa-li"></span>RUTINI CABERNET-MALBEC . $2035</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER MALBEC CAB 375  $855</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER MALBEC SYRAH . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER CHARDONNAY . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROB MALBEC 375 $440</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE MERLOT . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE CABER SA $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE SANGIOVE $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE SYRAH .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE TEMPRANI $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE CHARDONN $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE TARDIO . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE ROSE M . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE TINTO 375 . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE BCO 375 . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE 12 UVAS . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER MALBEC CAB 750 $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE RO MALBEC 750  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE TINTO 750 . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE BCO 750 . . .  $660</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.NAVARRO CORREAS   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NAVARRO CORREA MALBEC . . $960</li>                          
                <li class="text-center"><span class="fa-li"></span>NAVARRO CORREA CHARDONNAY $960</li>                          
                <li class="text-center"><span class="fa-li"></span>LOS ARBOLES TINTO . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>LOS ARBOLES BLANCO . . .  $660</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.BIANCHI           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DON VALENTIN LACRADO . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI BORGONA . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI CHABLIS . . . . . $680</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BODEGAS TRAPICHE    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TRAPICHE RESERVA 375 . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>FOND DE CAVE . . . . . .  $970</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE ALARIS MALB 375  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE RESERVA MAL / CA $900</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE ALARIS MALB 750  $640</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.CHANDON           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 MALBEC .CABERN $980</li>                          
                <li class="text-center"><span class="fa-li"></span>CASTEL CHANDON . . . . .  $725</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT 375 . . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT 750 . . . . . . . $755</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">OTRAS BODEGAS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ETCHART PRIVADO . . . . . $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.EL ESTECO         </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DON DAVID MALBEC 375 . .  $505</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID CABERNET . . .  $970</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID TORR 375 . . .  $505</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS MALBEC 375 . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TANNAT . . . .  $615</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS ROSE MALBEC . . $615</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TORRONTES 375 . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID MALBEC 750 . .  $970</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID TORR 750 . . .  $970</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS MALBEC 750 . .  $615</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TORRONTES 750 . $615</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.LOPEZ             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 375 . $435</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO BCO 375 . . $435</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO ROSADO . .  $870</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TINTO 375 . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ BLANCO 375 . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 750 . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO BCO 750 . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TINTO 750 . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ BLANCO 750 . . . .  $460</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.FINCA LAS MORAS   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAZ MALBEC . . . . . . . $1010</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA RESERVA . . . . $935</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA MALBEC . . . .  $715</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CHARDONNAY . .  $715</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LAS MORAS MALBEC .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LAS MORAS CABERNET  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LAS MORAS SAU BLANC $680</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.TERRAZAS LOS ANDES</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TERRAZAS RESERVA MALBEC .$1645</li>                          
                <li class="text-center"><span class="fa-li"></span>TERRAZAS RESERVA CABERNET$1645</li>                          
                <li class="text-center"><span class="fa-li"></span>ALTOS PLATA MALBEC . . . $1140</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.CATENA ZAPATA     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ALAMOS RESERVA MAL . . .  $605</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN 375 . . .  $910</li>                          
                <li class="text-center"><span class="fa-li"></span>UXMAL 750 . . . . . . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>UXMAL 375 . . . . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN MALBEC . .$1525</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS MALBEC 375 . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS CHARDONNAY 375 . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS CABERNET SAUV . . $1010</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS PINOT NOIR . . . .$1010</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS SAUV BLANC . . . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS SYRAH . . . . . . $1045</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASSIA MALBEC BLEND . .$1310</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASSIA CABERNET BLEND .$1310</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASSIA BLANC DE BLANCS $1310</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS MALBEC 750 . . . .$1010</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS CHARDONNAY 750 . .$1010</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.SAN TELMO         </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAN TELMO MALBEC . . . .  $615</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO CABERNET SAUV . $615</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO SYRAH . . . . . $615</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO MALBEC-SYRAH .  $615</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO CHARDONNAY . .  $615</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ DULCE NATURAL . . . $580</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
