    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">VARIOS              </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-info text-uppercase text-center">POSTRES VARIOS      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">Consultar   </h6>                                     
                              
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
                                                                                                              
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
