    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS S/ALCOHOL   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>AGUAS . . . . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA . . . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO DE NARANJA . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADA . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LIMON EXPRIMIDO . . . . .  $80</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BODEGAS QUILMES     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BLASFEMIA LATA . . . . .  $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOPP PROMOCION . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CERVEZA QUILMES 1L . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP QUILMES . . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO QUILMES . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>BALON QUILMES . . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER BALON QUILMES . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES CRISTAL 650CC . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES BOCK/STOUT 1L . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 1L . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740CC . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>CERVEZA QUILMES 1L . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>ANDES LITRO . . . . . . . $505</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">TRAGOS              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET . . . . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN . . . . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA . . . . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>MARTINI . . . . . . . . . $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKYS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BLANDERS PRIDE . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WLAKER NEGRA . . $1570</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>J B RARE . . . . . . . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . . $1570</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">COGNAC Y LICORES    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SOBERANO . . . . . . . .  $670</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIS 8 HEMANOS . . . . .  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $485</li>                          
                <li class="text-center"><span class="fa-li"></span>GRAN DUQUE ALBA . . . . .$1520</li>                          
                <li class="text-center"><span class="fa-li"></span>LEPANTO . . . . . . . . .$1840</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLEON . . . . . . . .  $825</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA BOLS . . . . . .  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AL COGNAC . . . . .  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>BAILEYS . . . . . . . . . $685</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMONCHELLO COPA . . . .  $255</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNES Y SIDRAS </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NIETO EXTRA BRUT . . . . $1480</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA ES EX BRUT$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON EXTRA BRUT . . . . $825</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . . $1995</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA EX BRUT . $1580</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE DE LA CASA . .  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA CHAMPAGNE . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>BARON B . . . . . . . . .$2900</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA . . . . . . .$2490</li>                          
                <li class="text-center"><span class="fa-li"></span>NAVARRO CORREA EX BRUT . $1390</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS EXTRA BRUT . . . .$1420</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA CHAMPAGN BRUT$2710</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.FIN DEL MUNDO     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SPECIAL BLEND . . . . . .$4235</li>                          
                <li class="text-center"><span class="fa-li"></span>FIN MERLOT . . . . . . . $1790</li>                          
                <li class="text-center"><span class="fa-li"></span>FIN CABERNET SAUVIGNON . $1790</li>                          
                <li class="text-center"><span class="fa-li"></span>GRAN RESERVA DEL FIN . . $1265</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA DEL FIN MALBEC . $1320</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA FIN MERLOT . . . $1320</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA FIN CHARDONNAY . $1320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.NIETO SENETINER   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DON NICANOR MALBEC . . . $1560</li>                          
                <li class="text-center"><span class="fa-li"></span>DON NICANOR CABERNET SAUV$1560</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER MALB 375  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER MALB 750 $1250</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER CABERNET $1250</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER SYRAH . .$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER CHARDONNA$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>EMILIA NIETO MALBEC . . . $940</li>                          
                <li class="text-center"><span class="fa-li"></span>EMILIA NIETO MALBEC BONAR $940</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO MALBEC 350 $450</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO MALBEC 750 $690</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO CABERNET S $690</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.LUIGI BOSCA       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA MALBEC . . . $2420</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA SYRAH . . . .$2420</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA CABERNET . . $2420</li>                          
                <li class="text-center"><span class="fa-li"></span>LUIGI BOSCA CHARDONNAY . $2420</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA MALBEC . .$1480</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA SYRAH . . $1480</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA CABERNET .$1480</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LA LINDA CHARDONNAY$1480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.NORTON            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON RESERVA MALBEC . .$1290</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON RESERVA CABERNET S$1290</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON MALBEC DOC . . . .$1290</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE MALBEC 375 . $495</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE CABERNET 375 $495</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE MERLOT . . . $820</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE SYRAH . . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON MALBEC-MERLOT . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CABEN-SAUV-SYRAH . $820</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV MA 375  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV CA 375  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV BONAR . $720</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV TEMPRAN $720</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE MALBEC 750 . $720</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE CABERNET 750 $720</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV MA 750  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON VARIET JOV CA 750  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO 375 TTO .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO 750 TTO .  $545</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE CHARDONNAY . $820</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON PORTEÑO MALBEC . . $545</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BLANCOS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLE SUV BLANC .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CHARONNAY-SEMILLON $820</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO BCO 375 .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA TAR BCO .  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO BCO 750 .  $545</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON PORTEÑO SAV . . .  $545</li>                          
                <li class="text-center"><span class="fa-li"></span>PORTEÑO CHARDONNAY . . .  $545</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">ROSADOS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON MIL ROSAS . . . .  $720</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.LA RURAL          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RUTINI MALBEC . . . . . .$3920</li>                          
                <li class="text-center"><span class="fa-li"></span>RUTINI CHARDONNAY . . . .$2690</li>                          
                <li class="text-center"><span class="fa-li"></span>RUTINI CABERNET-MALBEC . $2340</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER MALBEC CAB 375  $980</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER MALBEC SYRAH . $1590</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER CHARDONNAY . . $1590</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROB MALBEC 375 $520</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE MERLOT . $860</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE CABER SA $860</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE SANGIOVE $860</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE SYRAH .  $860</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE TEMPRANI $860</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE CHARDONN $860</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE TARDIO . $860</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE ROBLE ROSE M . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE TINTO 375 . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE BCO 375 . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE 12 UVAS . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>TRUMPETER MALBEC CAB 750 $1590</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE RO MALBEC 750  $860</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE TINTO 750 . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE BCO 750 . . .  $780</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.NAVARRO CORREAS   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NAVARRO CORREA MALBEC . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>NAVARRO CORREA CHARDONNAY$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>LOS ARBOLES TINTO . . . . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>LOS ARBOLES BLANCO . . .  $780</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.BIANCHI           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DON VALENTIN LACRADO . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI BORGONA . . . . . $820</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI CHABLIS . . . . . $820</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BODEGAS TRAPICHE    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TRAPICHE RESERVA 375 . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>FOND DE CAVE . . . . . .  $970</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE ALARIS MALB 375  $445</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE RESERVA MAL / CA $990</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE ALARIS MALB 750  $745</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.CHANDON           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 MALBEC .CABERN$1180</li>                          
                <li class="text-center"><span class="fa-li"></span>CASTEL CHANDON . . . . .  $795</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT 375 . . . . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT 750 . . . . . . . $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">OTRAS BODEGAS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ETCHART PRIVADO . . . . . $660</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.EL ESTECO         </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DONDAVID MALBEC 375 . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID CABERNET . . . $1170</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID TORR 375 . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS MALBEC 375 . .  $465</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TANNAT . . . .  $775</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS ROSE MALBEC . . $775</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TORRONTES 375 . $465</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID MALBEC 750 . . $1170</li>                          
                <li class="text-center"><span class="fa-li"></span>DON DAVID TORR 750 . . . $1170</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS MALBEC 750 . . $1170</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TORRONTES 750 . $775</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.LOPEZ             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 375 . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO BCO 375 . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO ROSADO . . $1060</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TINTO 375 . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ BLANCO 375 . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 750 . $920</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO BCO 750 . . $920</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TINTO 750 . . . . . $565</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ BLANCO 750 . . . .  $565</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ DULCE NATURAL . . . $720</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.FINCA LAS MORAS   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAZ MALBEC . . . . . . . $1110</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA RESERVA . . . .$1030</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA MALBEC . . . .  $890</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CHARDONNAY . .  $860</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LAS MORAS MALBEC .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LAS MORAS CABERNET  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCA LAS MORAS SAU BLANC $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.TERRAZAS LOS ANDES</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TERRAZAS RESERVA MALBEC .$1810</li>                          
                <li class="text-center"><span class="fa-li"></span>TERRAZAS RESERVA CABERNET$1810</li>                          
                <li class="text-center"><span class="fa-li"></span>ALTOS PLATA MALBEC . . . $1255</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.CATENA ZAPATA     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ALAMOS RESERVA MAL . . .  $665</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN 375 . . .  $990</li>                          
                <li class="text-center"><span class="fa-li"></span>UXMAL 750 . . . . . . . . $760</li>                          
                <li class="text-center"><span class="fa-li"></span>UXMAL 375 . . . . . . . . $485</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN MALBEC . .$1850</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS MALBEC 375 . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS CHARDONNAY 375 . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS CABERNET SAUV . . $1170</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS PINOT NOIR . . . .$1170</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS SAUV BLANC . . . .$1170</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS SYRAH . . . . . . $1170</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASSIA MALBEC BLEND . .$1560</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASSIA CABERNET BLEND .$1560</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASSIA BLANC DE BLANCS $1560</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS MALBEC 750 . . . .$1170</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS CHARDONNAY 750 . .$1170</li>                          
                <li class="text-center"><span class="fa-li"></span>DV CATENA MALB-CABERNE . $1970</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">B.SAN TELMO         </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAN TELMO MALBEC . . . .  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO CABERNET SAUV . $720</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO SYRAH . . . . . $720</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO MALBEC-SYRAH .  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN TELMO CHARDONNAY . .  $720</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
