    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POSTRE PLAZA ASTURIAS . . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>VOLCAN DE CHOCOLATE . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN AL CARAMELO . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA ASADA BORGONA . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN MIXTO . . . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSE DE CHOCOLATE . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>NATILLA . . . . . . . . . $275</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN A LA REINA . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>PERAS AL BORGONA . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN C/DULCE O CREMA . .  $290</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">OTROS POSTRES       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA CREMA O DULCE . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO EN ALMIBAR . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ZAPALLO EN ALMIBAR . . .  $265</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $285</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE DE MEMBRILLO . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE DE BATATA . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA FRUTA C/HELADO . $385</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA QUEMADA AL RHUM .  $365</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA ALMIBAR . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>CREMA O DULCE PORC . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DULCE LECHE . . .  $55</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">CREMAS HELADAS      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HELADO A LA CREMA . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>BOMBON SUIZO . . . . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>ICE CREAM SODA . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTTE . . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 1/2 . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MELBA . . . . . . .  $640</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON CHAMP . . . . . . . $375</li>                          
                <li class="text-center"><span class="fa-li"></span>BOMBON ESCOCES . . . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT 2 PERS . . . $495</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO CHARLOTTE . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">PANQUEQUE           </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PANQ.PLAZA ASTURIAS . . . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ.MANZANA . . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ.DULCE DE LECHE . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE AL RHUM . . . . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>RECAARGO AL RHUM . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
                                                                                                          
                                                                                                              
              <a href="/plast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
